.dosirakDetailContainer {
  display: flex;
  gap: 6rem;
  align-items: flex-start;
  padding: 100px 100px;
  font-family: "Pretendard", sans-serif;
}

.dosirakDetailImage {
  min-width: 300px;
  height: auto;
  max-width: 100%;
}

.dosirakDetailImageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.dosirakDetailInfo {
  flex: 1;
}

.dosirakDetailTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.dosirakDetailPriceBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.dosirakDetailSale {
  color: red;
  font-weight: bold;
  font-size: 1.6rem;
}

.dosirakDetailPrice {
  font-size: 1.6rem;
  font-weight: 700;
}

.dosirakDetailOriginalPrice {
  color: gray;
  text-decoration: line-through;
  font-size: 1.1rem;
}

.dosirakDetailDetail {
  margin-top: 1rem;
}

.dosirakDetailTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.dosirakDetailTable td {
  padding: 12px 0;
  border-top: 1px solid #ccc;
  font-size: 15px;
  vertical-align: top;
  line-height: 1.4;
}

.dosirakDetailTable td:first-child {
  width: 90px;
  font-weight: 500;
  vertical-align: top;
}

.dosirakDetailButtons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 850px) {
  .dosirakDetailContainer {
    flex-direction: column;
    padding: 40px 20px;
    gap: 2rem;
  }

  .dosirakDetailImageWrapper {
    justify-content: center;
  }

  .dosirakDetailImage {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
