.dosirak-detail-container {
  display: flex;
  gap: 6rem;
  align-items: flex-start;
  padding: 100px 100px;
  font-family: "Pretendard", sans-serif;
}

.dosirak-detail-image {
  width: 100%;
  max-width: 100%;
}

.dosirak-detail-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.dosirak-detail-info {
  flex: 1;
}

.dosirak-detail-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.dosirak-detail-priceBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.dosirak-detail-sale {
  color: red;
  font-weight: bold;
  font-size: 1.6rem;
}

.dosirak-detail-price {
  font-size: 1.6rem;
  font-weight: 700;
}

.dosirak-detail-originalPrice {
  color: gray;
  text-decoration: line-through;
  font-size: 1.1rem;
}

.dosirak-detail-detail {
  margin-top: 1rem;
}

.dosirak-detail-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.dosirak-detail-table td {
  padding: 12px 0;
  border-top: 1px solid #ccc;
  font-size: 15px;
  vertical-align: top;
  line-height: 1.4;
}

.dosirak-detail-table td:first-child {
  width: 90px;
  font-weight: 500;
  vertical-align: top;
}

.dosirak-detail-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}
