.dosirak-section {
  font-family: "Pretendard", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-items: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

@media (min-width: 768px) {
  .dosirak-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
