.dosirakCard {
  font-family: "Pretendard", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding-bottom: 10px;
}

.dosirakImageWrapper {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  border-radius: 8px;
}

.dosirakImage {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.dosirakImage:hover {
  transform: scale(1.1);
}

.dosirakTag {
  display: inline-block;
  background-color: #34661f;
  color: white;
  margin-top: 14px;
  border-radius: 9999px;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 500;
}
