.category-list {
  display: flex;
  gap: 55px;
  justify-content: center;
  padding: 20px;
}

.category-btn {
  background: transparent;
  border: none;
  padding: 0;
  text-align: center;
  font-family: "Pretendard", sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.category-icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.2s ease;
}

.category-icon-wrapper img {
  width: 26px;
  height: 26px;
}

.category-icon-wrapper.selected {
  border: 3px solid #7ac142;
}

.category-label {
  font-size: 12px;
  font-weight: 500;
}
