* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 14px 0;
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.logo {
  font-size: 20px;
  font-family: "Paperlogy", sans-serif;
  font-weight: 600;
  color: #34661f;
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-menu,
.user-menu {
  display: flex;
  gap: 16px;
  color: #666;
  font-size: 14px;
}

.nav-menu span,
.user-menu span {
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .nav-menu {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  .user-menu {
    margin-top: 10px;
  }

  .header-container {
    padding: 0 20px;
  }
}

.nav-menu a,
.user-menu a,
.logo a {
  text-decoration: none;
  color: inherit;
}

.nav-menu a:hover,
.user-menu a:hover,
.logo a:hover {
  text-decoration: none;
  color: #34661f;
}
