.sort-options {
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #666666;
  font-family: "Pretendard", sans-serif;
  margin: 20px 16px;
}

.sort-option-wrapper {
  display: flex;
  align-items: center;
}

.sort-option {
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
  font-weight: 400;
  padding: 0;
}

.sort-option.active {
  color: #000;
  font-weight: 600;
}

.sort-divider {
  margin: 0 8px;
  color: #ccc;
}

@media (max-width: 1024px) {
  .sort-options {
    padding: 0 16px;
  }
}

@media (max-width: 600px) {
  .sort-options {
    padding: 0 8px;
  }
}
